QCheckBox {
	min-height: 20px;
	max-height: 20px;
	padding: 0px;
	padding-bottom: 2px;
	margin: 0px;
	spacing: 4px;
	font-weight: normal;
	font-size: $font-size;
	text-align: left;
	text-decoration: none;
	color: $color-component-normal-text;
}

QCheckBox::indicator {
	width: 14px;
	height: 14px;
	padding: 0px;
	margin: 0px;
	border: none;
	border-radius: 0px;
}

QCheckBox::indicator:unchecked,
QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:pressed {
	background-color: $color-component-normal-background;
}

QCheckBox::indicator:checked,
QCheckBox::indicator:checked:hover,
QCheckBox::indicator:checked:pressed {
	background-color: $color-component-selection-color;
}