$color-window-tabs-foreground: rgb(50, 50, 50);
$color-window-tabs-background: rgb(43, 43, 43);
$color-window-tabs-border: rgb(33, 33, 33);
$color-window-tabs-text: rgb(153, 153, 153);
$color-window-tabs-text-selected: rgb(0, 190, 255);
$color-window-tabs-divider: rgb(43, 43, 43);

$color-panel-background: rgb(43, 43, 43);
$color-panel-toggle-normal-text: rgb(132, 132, 132);
$color-panel-toggle-normal-border: rgb(33, 33, 33);
$color-panel-toggle-normal-background: rgb(38, 38, 38);
$color-panel-toggle-hover-text: rgb(132, 132, 132);
$color-panel-toggle-hover-border: rgb(33, 33, 33);
$color-panel-toggle-hover-background: rgb(38, 38, 38);

$color-panel-group-background: rgb(50, 50, 50);
$color-panel-group-toggle-normal-text: rgb(170, 170, 170);
$color-panel-group-toggle-normal-background: rgb(50, 50, 50);
$color-panel-group-toggle-hover-text: rgb(170, 170, 170);
$color-panel-group-toggle-hover-background: rgb(50, 50, 50);

$color-tab-normal-text: rgb(153, 153, 153);
$color-tab-normal-background: rgb(38, 38, 38);
$color-tab-hover-text: rgb(153, 153, 153);
$color-tab-hover-background: rgb(46, 46, 46);
$color-tab-selected-text: rgb(231, 231, 231);
$color-tab-selected-background: rgb(50, 50, 50);

$color-tab-highlight: rgb(0, 170, 255);
$color-tab-border: rgb(33, 33, 33);
$color-tab-icon: rgb(132, 132, 132);

$color-component-normal-text: rgb(170, 170, 170);
$color-component-normal-border: rgb(40, 40, 40);
$color-component-normal-background: rgb(40, 40, 40);
$color-component-hover-text: rgb(170, 170, 170);
$color-component-hover-border: rgb(40, 40, 40);
$color-component-hover-background: rgb(40, 40, 40);
$color-component-focus-text: rgb(255, 255, 255);
$color-component-focus-border: rgb(0, 170, 255);
$color-component-focus-background: rgb(30, 47, 56);
$color-component-selection-text: rgb(33, 33, 33);
$color-component-selection-background: rgb(255, 255, 255);
$color-component-selection-color: rgb(0, 170, 255);

$color-table-text: rgb(170, 170, 170);
$color-table-border: rgb(40, 40, 40);
$color-table-gridline: rgb(50, 50, 50);
$color-table-background: rgb(40, 40, 40);
$color-table-highlight-text: rgb(170, 170, 170);
$color-table-highlight-background: rgb(50, 50, 50);
$color-table-focus-text: rgb(255, 255, 255);
$color-table-focus-background: rgb(0, 170, 255);
$color-table-error-text: rgb(255, 255, 255);
$color-table-error-background: rgb(255, 95, 90);

$color-button-normal-text: rgb(255, 255, 255);
$color-button-normal-background: rgb(0, 170, 255);
$color-button-focus-text: rgb(255, 255, 255);
$color-button-focus-background: rgb(0, 170, 255);
$color-button-pressed-text: rgb(255, 255, 255);
$color-button-pressed-background: rgb(0, 150, 255);

$color-secondary-button-normal-text: rgb(170, 170, 170);
$color-secondary-button-normal-background: rgb(40, 40, 40);
$color-secondary-button-focus-text: rgb(170, 170, 170);
$color-secondary-button-focus-background: rgb(40, 40, 40);
$color-secondary-button-pressed-text: rgb(255, 255, 255);
$color-secondary-button-pressed-background: rgb(0, 150, 255);

$font-size: 11px;